<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <%= render 'follow_form' if logged_in? %>
    
    <h3><%= link_to("Microposts", user_path) %></h3>
    <h3><%= link_to("Followings", followings_user_path) %></h3>
    <h3><%= link_to("Followers", followers_user_path) %></h3>
  </aside>
  <div class="col-md-8">
    
    <h3><%= link_to("Followers", followers_user_path) %> (<%= @followers.count %>)</h3>
    <% page_entries_info @followers %>
    <% if @followers.any? %>
      <ol class="relationships">
        <% @followers.each do |follower| %>
          <%= render partial: 'relationships/follower', locals: {follower_relationship: follower} %>
        <% end %>
      </ol>
    <% end %>
    <%= paginate @followers %>
    
  </div>
</div>