<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    
    <span class="follow_form">
      <%= render 'follow_form' if logged_in? %>
    </span>
    
    <span class="residence">
      @<%= @user.residence  %>
    </span>
    <span class="detail">
      <%= @user.detail  %>
    </span>
    
    <h3><%= link_to("Microposts", user_path) %></h3>
    <h3><%= link_to("Followings", followings_user_path) %></h3>
    <h3><%= link_to("Followers", followers_user_path) %></h3>
    
  </aside>
  <div class="col-md-8">
    
    <h3>Microposts (<%= @microposts.count %>)</h3>
    
    <% page_entries_info @microposts %>
    <% if @microposts.any? %>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
    <%= paginate @microposts %>
    
  </div>
</div>